<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HelloAso", "Index", "HelloAso", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Uses Cases", "Index", "HelloAso")</li>
                    <li>@Html.ActionLink("About", "About", "HelloAso")</li>
                    <li>@Html.ActionLink("Our People", "People", "HelloAso")</li>
                    <li>@Html.ActionLink("Take Action", "TakeAction", "HelloAso")</li>
                    <li>@Html.ActionLink("Blog", "Blogs", "HelloAso")</li>
                    <li>@Html.ActionLink("Employee Login", "JoinUs", "HelloAso")</li>
                    <li>@Html.ActionLink("Donations", "Donations", "HelloAso")</li>
                    <li>@Html.ActionLink("Leave A Message", "Messages", "HelloAso")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position:fixed; background-color: black; left: 0; bottom: 0; width: 100%; text-align: center; place-items:center">
            <div class="row">
                <img src="~/Pictures/nav1.png" />
                <img src="~/Pictures/nav2.png" />
                <img src="~/Pictures/nav3.png" />
                <img src="~/Pictures/nav4.png" />
                <img src="~/Pictures/nav5.png" />
                <img src="~/Pictures/nav6.png" />
                <img src="~/Pictures/nav7.png" />
                <img src="~/Pictures/nav8.png" />
                <img src="~/Pictures/nav9.png" />
            </div>

            <div class="row">
                <a href="#" class="fa fa-facebook" style="color:white; "></a>
                <a href="#" class="fa fa-twitter" style="color: white; "></a>
                <a href="#" class="fa fa-instagram" style="color:white;"></a>
                <a href="#" class="fa fa-linkedin" style="color:white;"></a>
                <a href="#" class="fa fa-youtube" style="color:white;"></a>
            </div>
            <p>&copy; @DateTime.Now.Year - HelloAsso NPO</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
