@model List<u19028386_HomeW04.Models.Fish>
@{
    ViewBag.Title = "FishView";
}

<h6>Fish</h6>

<table>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Amount</th>
        <th>Maximum Weight/Mass</th>
        <th>Sea Water</th>
        <th>Critically Endangered</th>
        <th>Survive In Desert</th>
        <th>Info</th>
    </tr>

    @foreach (var fish in Model)
    {
        <tr>
            <td>@fish.Name</td>
            <td>@fish.Country</td>
            <td>@fish.Amount</td>
            <td>@fish.MaxWeight</td>
            <td>@fish.SeaWater</td>
            <td>@fish.IsEndangered()</td>
            <td>@fish.FoundInDesert()</td>
            <td>@fish.getInfo()</td>
        </tr>
    }
</table>

<br />

@using (Html.BeginForm("FishView", "HelloAso", FormMethod.Post))
{
    <input type="text" form="name" />
    <input type="text" form="country" />
    <input type="number" form="amount" />
    <input type="number" form="maxweight" />
    <input type="text" form="seaWater" />
    <button type="submit"></button>
  
}

