@model List<u19028386_HomeW04.Models.Fish>
@{
    ViewBag.Title = "FishView";
}

<head>
    <style>
        #myT {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #myT td, #myT th {
                border: 1px solid #ddd;
                padding: 8px;
            }

        #myT tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #myT tr:hover {
            background-color: #ddd;
        }

        #myT th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<h3>Fish</h3>

<table id="myT" style="margin-bottom:10%">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Amount</th>
        <th>Maximum Weight/Mass</th>
        <th>Sea Water</th>
        <th>Critically Endangered</th>
        <th>Survive In Desert</th>
        <th>Info</th>
    </tr>

    @foreach (var fish in Model)
    {
        <tr>
            <td>@fish.Name</td>
            <td>@fish.Country</td>
            <td>@fish.Amount</td>
            <td>@fish.MaxWeight</td>
            <td>@fish.SeaWater</td>
            <td>@fish.IsEndangered()</td>
            <td>@fish.FoundInDesert()</td>
            <td>@fish.getInfo()</td>
        </tr>
    }
</table>

<br />



