@model List<u19028386_HomeW04.Models.Plant>
@{
    ViewBag.Title = "PlantView";
}


<head>
    <style>
        #myT {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #myT td, #myT th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #myT tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #myT tr:hover {
                background-color: #ddd;
            }

            #myT th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>

<h3>Plants</h3>

<table id="myT" style="margin-bottom:10%">
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Amount</th>
        <th>Maximum Weight/Mass (KG)</th>
        <th>Maximum Height</th>
        <th>Critically Endangered</th>
        <th>Survive In Desert</th>
        <th>Info</th>
    </tr>

    @foreach (var plant in Model)
    {
        <tr>
            <td>@plant.Name</td>
            <td>@plant.Country</td>
            <td>@plant.Amount</td>
            <td>@plant.MaxWeight</td>
            <td>@plant.MaxHeight</td>
            <td>@plant.IsEndangered()</td>
            <td>@plant.FoundInDesert()</td>
            <td>@plant.getInfo()</td>

        </tr>
    }
</table>


<br />

<div class="container">
    <div class="row">

        <div class="col-sm" style="display:inline-block;">
            <input type="button" value="Add" class="btn btn-default" style="width:100px;background-color:green;" onclick="location.href='@Url.Action("AddPlant","HelloAso")'" />
        </div>

        <div class="col-sm" style="display:inline-block;">
            <input type="button" value="Update" class="btn btn-default" style="width:100px;background-color:yellow;" onclick="location.href='@Url.Action("UpdatePlant","HelloAso")'" />
        </div>

        <div class="col-sm" style="display:inline-block;">
            <input type="button" value="Delete" class="btn btn-default" style="width:100px;background-color:red;" onclick="location.href='@Url.Action("DeletePlant","HelloAso")'" />
        </div>

    </div>
</div>

<a href="@Url.Action("Views","HelloAso")">Back To View</a>

